.Toastify__toast-container {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.Toastify__toast {
    border-radius: 8px;
    font-size: 0.9rem;
}

.Toastify__toast-body {
    font-family: inherit;
}