.content, .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content{
    
    
}
.content {
    -webkit-line-clamp: 2;
    word-wrap: break-word;         
    overflow-wrap: break-word;
  }
  .content img,
  .content video,
  .content iframe {
    max-width: 100%;                
    height: auto;                   
    display: block;                 
    margin: 0.5rem auto;            
  }
  .content table {
    width: 100%;                   
    table-layout: auto;
  }
  

.title{
    -webkit-line-clamp: 1;
}

img{
    border-radius: 12px;
}
.date{
    font-size: 0.85rem;
}

.blog-image{
    background-size: con; // Đảm bảo hình ảnh phủ kín
    background-position: center; // Đặt hình ảnh ở giữa
    width: 100%; // Chiếm toàn bộ chiều rộng
    border-radius: 10px;
}

